<h1> Reciperia </h1>

<ul>
<% @recipes.each do |recipe| %>
  <%= link_to recipe.title, recipe %><br>
<% end %>
</ul>
<font size="1" face="verdana">
<%= link_to '<< Back to BakerMaker Home', home_path %>
</font>
