<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to BakerMaker, <%= @user.name %></h1>
    <p>
      You have successfully signed up for BakerMaker, (shoutout to the homie REFERRALUSER for the invite),
      your username is: <%= @user.login %>.<br>
    </p>
    <p>
      To login to the site, just click & gooooooo: <%= @url %>.
    </p>
    <p>¡Buen provecho!</p>
  </body>
</html>
